@import 'reset';
@import 'fonts';
@import 'main-classes';
@import 'main-blocks/header';
@import 'main-blocks/about-me';
@import 'main-blocks/logo-cards';
@import "main-blocks/service";
@import 'main-blocks/selected-work';
@import "main-blocks/my-clients";
@import 'main-blocks/our-team';
@import "main-blocks/contact";
@import "main-blocks/footer";

:root {
  --main-font: Gilroy;
  --medium-font: Gilroy-Medium;
  --semiBold-font: Gilroy-SemiBold;
  --bold-font: Gilroy-Bold;
  --light-font: Gilroy-Light;
  --regular-font: Gilroy-Regular;
  --p-font: Inter;

  --black: #252525;

  --min-l-size: 1200px;
  --min-m-size: 768px;
  --max-m-size: 1200px;
  --min-s-size: 320px;
  --max-s-size: 768px;
}