@import 'reset';
@import 'fonts';
@import 'mixins/mixins';
@import 'main-classes';
@import 'main-blocks/header';
@import 'main-blocks/about-me';
@import 'main-blocks/logo-cards';
@import 'main-blocks/selected-work';

:root {
  --main-font: Gilroy;
  --medium-font: Gilroy-Medium;
  --semiBold-font: Gilroy-SemiBold;
  --bold-font: Gilroy-Bold;
  --light-font: Gilroy-Light;
  --regular-font: Gilroy-Regular;
  --p-font: Inter;
}

body {
  background-color: #F5F3EA;
}