@import "mixins/mixins";

html {
  font-size: 10px;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    font-size: 8px;
  }

  @media screen and (min-width: 320px) and (max-width: 768px) {
    font-size: 5px;
  }
}

body {
  background-color: #F5F3EA;
}

.container {
  padding-left: 70px;
  padding-right: 70px;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and (min-width: 320px) and (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.button {
  border: none;
  outline: none;

  &--black {
    color: #FFF;
    background: var(--black);

    &:hover {
      color: var(--black);
      background: #FFF;
      transition: 0.5s;
    }
  }

  &--white {
    background: #FFF;

    &:hover {
      color: #FFF;
      background: var(--black);
      transition: 0.5s;
    }
  }

  &--border-rounded {
    border-radius: 50px;
  }

  &:hover {
    cursor: pointer;
  }
}

.cards-wrapper {
  @include flex(row, wrap, normal, normal);

  &--reverse {
    flex-wrap: wrap-reverse;
  }
}

h2 {
  color: var(--black);
  text-align: center;
  font-family: var(--main-font), serif;
  font-size: 150px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 8.48px;
  text-transform: uppercase;
}

.media-icons {

  &__icon {

    &__size-m {
      display: block;
      width: 30px;
      height: 30px;
    }

    &__size-l {
      display: block;
      width: 50px;
      height: 50px;
    }
  }
}

.fill-white {
  fill: white;
}

section {
  border-bottom: 1px solid black;
}