@import '../mixins/mixins';

.footer {
  @include flex(row, nowrap, space-between, center);
  padding-top: 20px;
  padding-bottom: 20px;

  &__copyright {
    font-family: var(--regular-font), serif;
    font-size: 18px;
    line-height: 21.09px;
    color: rgba(51, 51, 51, 1);

    &--bold {
      font-family: var(--semiBold-font);
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: #333;
    }
  }

  &__media {
    @include flex(row, nowrap, end, center);
    gap: 30px;

    @media screen and (min-width: 320px) and (max-width: 768px) {
      @include flex(row, nowrap, center, center);
      margin-right: 20px;
      height: 50px;
    }

    @media screen and (min-width: 768px) and (max-width: 1200px) {
      @include flex(row, nowrap, end, center);
    }
  }

  @media screen and (max-width: 1200px) and (min-width: 768px) {
    padding-top: 45px;
  }

  @media screen and (max-width: 767px) and (min-width: 320px) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}