@import '../mixins/mixins';

.header {
  padding-top: 40px;
  padding-bottom: 40px;

  @include flex(column, nowrap, normal, normal);
  gap: 30px;

  &__wrapper {
    @include flex(row, nowrap, space-between, center);
  }

  @media screen and (min-width: var(--min-s-size)) and (max-width: var(--max-s-size)) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__button {
    background-color: inherit;

    color: var(--black);
    text-align: center;
    font-family: var(--semiBold-font), serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  & h1 {
    color: var(--black);
    text-align: center;
    font-family: var(--semiBold-font), sans-serif;
    font-size: 12.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    & span {
      color: var(--black);
      font-family: var(--main-font), serif;
      font-size: 12.5rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-transform: capitalize;
    }
  }

  &__scroll-down {
    text-align: center;
  }
}

.logo {
  @include flex(row, nowrap, normal, center);
  gap: 10px;

  &__text {
    color: #000;
    text-align: center;
    font-family: var(--main-font), serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.7px;

    &--bold {
      color: #000;
      font-family: var(--medium-font), serif;
      font-size: 35px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.7px;
      text-transform: uppercase;
    }

    &--rights {
      color: #000;
      text-align: center;
      font-family: var(--main-font), serif;
      font-size: 25px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
}

@include respond-to('small') {
  .logo__text, .logo__text--bold, .logo__text--rights {
    display: none;
  }
}