@import '../mixins/mixins';

.logo-cards {
  @include flex(row, wrap, space-between, center);
  gap: 20px;

  padding: 70px 0;

  &__logo-card {
    padding: 15px 20px;
    border-radius: 50px;
    background-color: #FFF;
  }
}