@import '../mixins/mixins';

.our-team {
  padding-top: 50px;
  padding-bottom: 50px;

  @include flex(column, nowrap, normal, normal);
  gap: 50px;

  @media screen and (min-width: 320px) and (max-width: 1200px) {
    padding-top: 30px;
    gap: 30px;
  }
}

.members-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 3fr) 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
  }
}

.card-member {
  @include flex(column, nowrap, normal, normal);

  padding: 20px 0;
  gap: 15px;

  &__header {
    @include flex(column, nowrap, normal, start);
    gap: 5px;
  }

  &__body {
    & img {
      background-size: contain;
      width: 314px;
      height: auto;

      @media screen and (min-width: 320px) and (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.member-name {
  color: #333;
  font-family: var(--main-font), serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.member-position {
  color: #333;
  font-family: var(--medium-font), serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-team {
  @include flex(column, nowrap, center, start);
  gap: 15px;

  grid-column-start: 3;
  grid-column-end: 5;

  &__p {
    color: #333;
    font-family: var(--regular-font), serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  &__slogan {
    color: #333;
    font-family: var(--bold-font), serif;
    font-size: 8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  &__button {
    padding: 10px 30px;

    color: #FFF;
    font-family: var(--medium-font), serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;

    & img {
      margin-left: 10px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 2;

    @include flex(column, nowrap, center, center);
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    grid-column-start: 1;
    grid-column-end: 3;

    @include flex(column, nowrap, center, start);
    text-align: start;
  }
}

