@import "../mixins/mixins";

.service {
  @include flex(row, wrap, normal, stretch);

  &__image {
    width: 46%;
    background-image: url("../images/service-img.png");
    background-size: cover;

    @media screen and (max-width: 1200px) and (min-width: 768px) {
      height: 991px;
      width: 100%;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
      height: 478px;
      width: 100%;
    }
  }
}

.article {
  @include flex(column, nowrap, normal, normal);
  padding: 70px 70px 70px 90px;

  @media screen and (max-width: 1200px) and (min-width: 768px) {
    width: 100%;

    padding: 0 40px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {

    padding: 0 20px;
  }

  &__label {
    font-family: var(--main-font);
    font-size: 12.5rem;
    font-weight: 300;
    line-height: 172.95px;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 100px;
    padding-top: 70px;

    @media screen and (max-width: 1200px) and (min-width: 768px) {
      text-align: center;
      margin: 0 40px;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 13rem;
      text-align: center;
      padding-top: 20px;
      margin-bottom: 40px;
    }
  }
}

.service__criteria {
  @include flex(column, wrap, normal, start);
  counter-reset: section; /* Скидає лічильник для кожного h4 */

  @media screen and (max-width: 1200px) and (min-width: 768px) {
    width: 100%;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    height: auto;
    margin-top: 0;
  }
}

.service__item {
  display: inline-block;
  padding-bottom: 40px;
  margin-top: 40px;
  border-bottom: 1px solid rgba(37, 37, 37, 1);

  .service__paragraph {
    margin-top: 10px;
    max-width: 650px;
    font-family: var(--p-font);;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }

  &__header {

    font-family: var(--semiBold-font);
    font-size: 4.4rem;
    line-height: 48px;
    text-align: left;
    color: black;

    @media screen and (max-width: 767px) and (min-width: 320px) {
      font-size: 5rem;
    }

    &::before {
      counter-increment: section; /* Збільшує лічильник для кожного h4 */
      content: counter(section) ". "; /* Додає номер перед текстом заголовка */
      margin-right: 5px; /* Відступ після номеру */
    }
  }

  &:last-child{
    border-bottom: none;
  }
}